/* CSS files add styling rules to your content */

html {
  height: 100%;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

h1 {
  font-style: italic;
  color: white;
  display: flex;
  width: 25%;
}

h1:hover {
  text-decoration: underline;
  color: blue;
}
a {
  margin-top: 10em;
}

p {
  color: white;
}

canvas {
  margin: 0;
  padding: 0;
}

#cube {
  bottom: 0;
  left: 0;
  opacity: 0.3;
  position: absolute;
}

#lissa {
  position: absolute;
  bottom: auto;
  left: auto;
  z-index: 10;
}
